
.edit-window {
  position: absolute;
  top: 5px; bottom: 5px; left: 5px; right: 5px;
  border: 1px solid #909090;
  z-index: 1000;
  background-color: white;
}

.edit-window .close-button {
  z-index: 1001;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.editor-left {
  position: absolute;
  left: 0;
  top: 50px;
  width: 50%;
  height: 100%;
}

.editor-right {
  position: absolute;
  right: 0;
  top: 50px;
  width: 50%;
  height: 100%;
}
